<div class="page-header">
  <%= link_to property_prenotations_path(@property), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <h1>Nuova prenotazione</h1>
</div>

<%= render 'form' %>
