




<br><br><br><br><br><br><br><br>

<h3>Impianti Visitati</h3>

<% @impiantiVisitati.each do |i| %>
    <table style="width:100%">
        <tr>
            <%=i.to_s%>
        </tr>
    </table>
<% end %>