<style>
  #right {
    float: right;
  }
</style>
<h1>Tutte le conversazioni: </h1>

<% @conversations.each do |conversation| %>

    <div>Oggetto: <%= link_to conversation.subject, conversation_path(conversation) %></div>
    <div id="right"><%= link_to 'Cestina', conversation_path(conversation), method: :delete, data: { confirm: 'Sei sicuro?' } %> </div>
    <hr />
  </div>

<%end %>

<%= link_to "Scrivi un Nuovo Messaggio", new_conversation_path, :class => 'btn btn-primary'%>
