<body class="visits-body">

<h1 class="mbr-section-title align-center mbr-white mbr-bold mbr-fonts-style display-1">IMPIANTI VISITATI</h1>

<% if @visitati.count == 0 %>
    <h1 style="color: white;">Nessun impianto visitato.</h1>
<% else %>

    <div class="mbr-overlay" style="background-color: rgba(35, 35, 35, 0.4);"></div>

    <div class="timeline">

        <%= render "timeline" %>

    </div>

<% end %>

</body>