<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>
<p>
    <strong>Rating:</strong>
    <%= comment.stars %>
</p>
<p>
    <%= link_to 'Elimina recensione', [comment.station, comment],
                method: :delete,
                data: { confirm: 'Sei sicuro?' } %>
</p>