<!DOCTYPE html>
<html>
  <head>
    <title>Carburante</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--  stampa il codice html delle pagine in views-->
    <%= yield %>
  </body>
</html>
