<body class="intro">
<!-- vide background -->
<!-- https://coverr.co/#coverrs -->
<div class="videoContainer">
    <div class="overlay"></div>
    <video autoplay muted loop class="videoPlayer">
        <source src="/Nowhere.mp4" type="video/mp4">
    </video>
</div>


<div class="HomeBanner">

    <h1 class="mbr-section-title align-center mbr-white mbr-bold mbr-fonts-style display-1">SMART GAS STATION</h1>
    <h3 class="mbr-section-subtitle mbr-fonts-style display-3" style="color: white">Trova la stazione di rifornimento più conveniente vicino a te</h3>

    <div class="myDivForm">
        
        <%= render 'form' %>

        </div>
</div>
</body>
