<body class="profileBody">
<div class="fotosfondo" align="center">
    <h2 class="mbr-section-title align-center mbr-bold mbr-white mbr-fonts-style display-2">PROFILO</h2>
    <%= render "edit_form" %>
    <br>
    <%= link_to "Indietro", :back %>

</div>

<script type="text/javascript">
    function initAutocomplete() {
        let input = document.getElementById('luogo_preferito');
        let searchBox = new google.maps.places.SearchBox(input);
        searchBox.addListener('places_changed', function () {
            let places = searchBox.getPlaces();
            if (places.length === 0) {
                return;
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk&libraries=places&callback=initAutocomplete"
        async defer></script>

</body>
    