<h1>NEW REPORT</h1>


<%= form_for :report, url: reports_path(game_target: @oldparams[:game_target], ad_target: @oldparams[:ad_target], review_target: @oldparams[:review_target]) do |f| %>
    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description, size: "100x30" %>
    </p>
    <p>
        <%= f.submit "Send Report"%>
    </p>
<% end %>
