@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body.calcsBody {
  background:linear-gradient(90deg,rgba(0,0,0,0.4),rgba(237,90,53,0.4)),url("/color.jpg");
  align: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  color: white;
}

calcsTable {
  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
}