
.profileInput{
    height: 35px !important;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    background-color: rgba(255,255,255, 0.5);
    padding: 0 20px 0px 20px;
}

.profileSubmit{
    background-color: #4CAF50; /* Green */
        color: white;
        padding: 15px 32px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}

body.profileBody{
    background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(232,134,42,0.5)),url("/unity_gas_1.jpg");
    padding-top: 80px;

}
table.profileTable td {
  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
}
table.profileTable {
  border-collapse: separate;
  border-spacing: 10px;
  *border-collapse: expression('separate', cellSpacing = '10px');
}

label {
  color: white;
}

.fotosfondo {
  background-repeat: no-repeat;
  background-size: 240px 280px;
  //background-image: url("/pompa.jpg");
//  background-color: rgba(0,0,0,0.25);
  //color: white;
}

.bordi {
  border: 3px solid #004352;
  width: 250px;
  border-radius: 10px;
  //background-color: rgba(0,0,0,0.2);
}

.button {
  //background-color: #0020C2;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: 2px solid red;
  border-radius: 100px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 14px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.profileCheckBox {
  zoom: 1.8;
}

.number_field_profiles {
  text-align: center;
}

