<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<!-- Ruby code -->

<% if(params.has_key?(:id) &&
    params.has_key?(:random)) %><br />
  <%= "ID : #{params[:id]}" %><br />
  <%= "RANDOM : #{params[:random]}" %><br />
<% end %>
